body{
  background: url(https://img.freepik.com/premium-vector/clouds-and-stars-the-sun-on-a-blue-background-childrens-vector-illustration-of-the-sky_153074-219.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.weather-box {
  border: 3px solid yellow;
  padding: 50px;
  border-radius: 30px;
  background-color: rgba(154, 152, 152, 0.7);
}

.menu-container {
  margin-top: 20px;
}

.menu-container .btn {
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  background-color: #ffc107; /* 버튼의 기본 배경색 */
  color: white; /* 버튼 텍스트 색상 */
  border: none;
  transition: background-color 0.3s ease; /* 배경색 전환 효과 */
}

.menu-container .btn:hover {
  background-color: #ff9800; /* 마우스 오버시 배경색 변경 */
}

.menu-container .btn.active {
  background-color: #f07 !important; /* 선택된 버튼의 배경색 변경 */
}